// vim: set shiftwidth=2 iskeyword+=\- foldmethod=marker foldlevel=0:

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Nanum+Gothic:wght@400;700&family=Quicksand:wght@300;400;500;600&display=swap');

$c-bg: #dfe1e5;
$c-offblack: #212529;
$c-nav-link-scrolled-hover: $c-bg;
$c-nav-link-unscrolled: rgba(0,0,0,0.8);
$c-nav-link-unscrolled-hover: #e4ecfccf;

html,
body {
  height: 100vh;
  width: 100vw;
}

body {
  // display: flex;
  // justify-content: center;
  &.dark-bg { background-color: $c-offblack; }
}


.navbar.fixed-top.navbar-expand-sm {
  background-color: #ffffff44;
  transition: .3s;
  height: 4rem;
  font-family: 'Quicksand', sans-serif;

  &.scrolled {
    background-color: $c-offblack;

    .navbar-brand {
      color: #fff;
    }

    a {
      color: rgba(255,255,255,.55);

      &:hover {
        color: $c-bg;
      }
    }
  }

  a {
    color: $c-nav-link-unscrolled;

    &:hover {
      color: $c-nav-link-unscrolled-hover;
    }
  }

  .navbar-brand {
    & > span {
      font-size: 1.5rem;
      left: 1rem;
      letter-spacing: 2px;
      opacity: .8;
      position: relative;
      top: 2px;
      transition: .3s;
    }
  }

  .navbar-collapse {
    padding-left: 1rem;
  }

  &.navbar-expand-sm .nav-link {
    padding-right: 1rem;
  }
}

header {
  .mast { height: 30rem; }

  .header-svg {
    bottom: 0;
    position: absolute;
  }
}

.bg-gradient-primary-to-secondary {
  background-image: linear-gradient(135deg, #0061f2, rgba(105, 0, 199, .8));
  height: 100%;
}

main {
  color: white;
}
